body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, 'Noto Sans', 'Helvetica Neue', Helvetica, 'Nimbus Sans L', Arial,
        'Liberation Sans', 'PingFang SC', 'Hiragino Sans GB', 'Noto Sans CJK SC',
        'Source Han Sans SC', 'Source Han Sans CN', 'Microsoft YaHei', 'Wenquanyi Micro Hei',
        'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif;
}

input,
select,
button,
textarea {
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    user-select: auto;
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    text-decoration: none;
}

html,
body,
#app {
    height: 100%;
}

.cell {
    display: flex;

    &.center {
        align-items: center;
    }

    .primary {
        flex: 1;
    }
}

// 用于移除el-card组件的底部padding
// card嵌套form表单时使用
.card-no-bottom {
    .el-card__body {
        padding: 20px 20px 0 20px;
    }
}
